.details-wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 305px);
    box-sizing: border-box;
    align-items: center;

    @media (max-height: 1024px) {
        height: calc(100vh - 215px);
    }

    @media (max-width: 960px) {
        height: calc(100vh - 240px);
    }

    @media (max-width: 710px) {
        height: max-content;
        flex-wrap: wrap;
    }

    .left-side {
        width: 40%;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
        align-items: center;
        flex-direction: column;
        max-height: 100%;

        @media (max-width: 710px) {
            width: 100%;
        }

        img {
            width: 80%;
            border-radius: 20px;
            object-fit: contain;
            max-height: calc(100vh - 500px);
        }

        .likeBtn-wrapper {
            width: 80%;
        }

        .information-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-top: 20px;

            span {
                &:first-child {
                    color: red;
                }

                &:last-child {
                    color: green;
                }
            }
        }

        button {
            width: 100%;
            border-radius: 20px;
        }
    }

    .right-side {
        width: 60%;
        padding: 20px;

        @media (max-width: 710px) {
            width: 100%;
            text-align: center;
        }

        h2 {
            margin-bottom: 30px;
            font-size: 30px;
        }

        p {
            font-size: 18px;
            margin-bottom: 30px;
        }

        .price-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;

            span {
                font-size: 50px;
                margin-bottom: 10px;

                &.old-price {
                    text-decoration: line-through;
                    color: #891515;
                    font-size: 40px;
                }

                &.new-price {
                    color: green;
                    font-weight: 700;
                }
            }

            button {
                text-align: center;
            }
        }

        @media (max-width: 950px) {
            h2 {
                font-size: 24px;
                margin-bottom: 15px;
            }

            p {
                font-size: 16px;
                margin-bottom: 15px;
            }

            .price-wrapper {
                span {
                    font-size: 35px;
                }
            }
        }
    }

    button {
        padding: 5px 20px;
        font-size: 20px;
        background: #2161ab;
        border: none;
        color: white;
        margin-top: 5px;
        transition: all 0.5s ease-in-out;
    }

    button:hover {
        cursor: pointer;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
        background: #1a4d88;
        border-radius: 10px;
    }
}
