<div class="details-wrapper">
    <div class="left-side">
        <img src="{{currentElement.imageUrl}}" alt="image.png">
        <div class="likeBtn-wrapper" *ngIf="currentElement.owner !== currentUser">
            <button [disabled]="isLiked? true : false" (click)="likeOffer()">{{isLiked ? "You liked this item!" : "Like"}}</button>
        </div>
        <div class="information-wrapper">
            <span>Bought {{currentElement.bought}} times!</span>
            <span>Liked by {{currentElement.likes.length}} people!</span>
        </div>
    </div>
    <div class="right-side">
        <h2>{{currentElement.name}}</h2>
        <p>{{currentElement.description}}</p>
        <div class="price-wrapper">
            <span *ngIf="!currentElement.promotion">{{currentElement.price}}$</span>
            <span *ngIf="currentElement.promotion">{{(currentElement.price - ((currentElement.price / 100) *
                currentElement.promotionPercentage)).toFixed(2)}}$</span>
            <button *ngIf="currentElement.owner !== currentUser">Add to Cart</button>
            <button *ngIf="currentElement.owner === currentUser" (click)="editOffer('/offers/edit/' + currentElement.objectId)">Edit Offer</button>
            <button *ngIf="currentElement.owner === currentUser" (click)="deleteOffer()">Delete Offer</button>
        </div>
    </div>
</div>