<div class="main-content">
    <section class="promo">
        <i class="fas fa-arrow-left"></i>
        <div class="focus">
            <h3>ITEM NAME ON PROMOTION</h3>
            <span class="discount">-20%</span>
            <figure>
                <img src="https://www.techpowerup.com/img/ataZdYFc0NyRhMuU.jpg" alt="focus.png">
                <figcaption>
                    ONLY 99.99$
                </figcaption>
            </figure>
        </div>
        <i class="fas fa-arrow-right"></i>
    </section>
    <section class="hot-deals">
        <h2>Best Sellers!</h2>
        <ul>
            <li>
                <div class="image-wrapper">
                    <img src="https://p.jarcomputers.com/680x680/2e/VCRPALITNED3080019IA132AA_680x680.jpg" alt="">
                </div>
                <div class="info-wrapper">
                    <article>
                        <h4>COOL Video CARD</h4>
                        <p>Some description about the video card should be here. Additional content added as the
                            description should be a bit more descriptive and have some additional description. Anything
                            else is a bonus.</p>
                    </article>
                    <span class="bought">
                        Bought 341 times!
                    </span>
                    <span class="liked">
                        Liked by 649 people!
                    </span>
                </div>
                <span class="price">99.99$</span>
            </li>
            <li>
                <div class="image-wrapper">
                    <img src="https://p.jarcomputers.com/680x680/2e/VCRPALITNED3080019IA132AA_680x680.jpg" alt="">
                </div>
                <div class="info-wrapper">
                    <article>
                        <h4>COOL Video CARD</h4>
                        <p>Some description about the video card should be here. Additional content added as the
                            description should be a bit more descriptive and have some additional description. Anything
                            else is a bonus.</p>
                    </article>
                    <span class="bought">
                        Bought 341 times!
                    </span>
                    <span class="liked">
                        Liked by 649 people!
                    </span>
                </div>
                <span class="price">99.99$</span>
            </li>
            <li>
                <div class="image-wrapper">
                    <img src="https://p.jarcomputers.com/680x680/2e/VCRPALITNED3080019IA132AA_680x680.jpg" alt="">
                </div>
                <div class="info-wrapper">
                    <article>
                        <h4>COOL Video CARD</h4>
                        <p>Some description about the video card should be here. Additional content added as the
                            description should be a bit more descriptive and have some additional description. Anything
                            else is a bonus.</p>
                    </article>
                    <span class="bought">
                        Bought 341 times!
                    </span>
                    <span class="liked">
                        Liked by 649 people!
                    </span>
                </div>
                <span class="price">99.99$</span>
            </li>
            <li>
                <div class="image-wrapper">
                    <img src="https://p.jarcomputers.com/680x680/2e/VCRPALITNED3080019IA132AA_680x680.jpg" alt="">
                </div>
                <div class="info-wrapper">
                    <article>
                        <h4>COOL Video CARD</h4>
                        <p>Some description about the video card should be here. Additional content added as the
                            description should be a bit more descriptive and have some additional description. Anything
                            else is a bonus.</p>
                    </article>
                    <span class="bought">
                        Bought 341 times!
                    </span>
                    <span class="liked">
                        Liked by 649 people!
                    </span>
                </div>
                <span class="price">99.99$</span>
            </li>
        </ul>
    </section>
</div>