<div class="main-content">
    <section class="promo">
        <i class="fas fa-arrow-left" (click)="previousOffer()"></i>
        <div class="focus" *ngIf="displayedPromoOffer" #promoElement>
            <h3>{{displayedPromoOffer.name}}</h3>
            <span class="discount">-{{displayedPromoOffer.promotionPercentage}}%</span>
            <figure>
                <img src="{{displayedPromoOffer.imageUrl}}" alt="focus.png" routerLink="/offers/details/{{displayedPromoOffer.objectId}}">
                <figcaption>
                    ONLY {{(displayedPromoOffer.price - ((displayedPromoOffer.price / 100) * displayedPromoOffer.promotionPercentage)).toFixed(2)}}$
                </figcaption>
            </figure>
        </div>
        <i class="fas fa-arrow-right" (click)="nextOffer()"></i>
    </section>
    <section class="hot-deals" *ngIf="bestSellers">
        <h2>Best Sellers!</h2>
        <ul>
            <li *ngFor="let offer of bestSellers">
                <div class="image-wrapper">
                    <img src="{{offer.imageUrl}}" alt="offer-photo.png">
                </div>
                <div class="info-wrapper">
                    <article>
                        <h4 routerLink="/offers/details/{{offer.objectId}}">{{offer.name}}</h4>
                        <p>{{offer.description}}</p>
                    </article>
                    <span class="bought">
                        Bought {{offer.bought}} times!
                    </span>
                    <span class="liked">
                        Liked by {{offer.likes.length}} people!
                    </span>
                </div>
                <span class="price">{{offer.price}}$</span>
            </li>
        </ul>
    </section>
</div>