ul {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    gap: 2%;
    list-style: none;
    background: #5495df;

    @media (max-width: 750px) {
        flex-direction: column;
    }

    @media (max-height: 1024px) {
        padding: 0px;
    }

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        text-align: center;
        color: #ffffff;
        transition: all 0.5s ease-in-out;
        margin: 0 5px;

        &:hover {
            cursor: pointer;
            color: black;
            text-shadow: 5px 5px 3px rgba(0,0,0,0.5);
        }
    }

    .user-offer {
        padding: 5px 10px;
        border-radius: 10px;
        background: #2161AB;
        margin: 5px;

        &:hover {
            box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
            background: #1A4D88;
            color: white;
            text-shadow: none;
        }
    }
}
