<div class="main-container">
    <aside>
        <p>Sort by:</p>
        <ul>
            <li (click)="filterOffersByPrice()">
                <span>Price</span>
                <i class="{{sortCriteria.price}}"></i>
            </li>
            <li (click)="filterOffersByName()">
                <span>Name</span>
                <i class="{{sortCriteria.name}}"></i>
            </li>
            <li (click)="filterOffersByDate()">
                <span>Date</span>
                <i class="{{sortCriteria.date}}"></i>
            </li>
        </ul>
    </aside>
    <section class="products">
        <div class="product-list">
            <div class="product-wrapper" *ngFor="let offer of currentOffers">
                <div class="image-wrapper" >
                    <img src="{{offer.imageUrl}}" alt="image.png" >
                </div>
                <article>
                    <h4>{{offer.name}}</h4>
                    <p>{{offer.price}}$</p>
                </article>
                <button type="button" routerLink='/offers/details/{{offer.objectId}}'>Details</button>
            </div>
        </div>
    </section>
</div>