<div class="main-container">
    <aside>
        <p>Sort by:</p>
        <ul>
            <li (click)="filterOffersByPrice()">
                <span>Price</span>
                <i class="{{sortCriteria.price}}"></i>
            </li>
            <li (click)="filterOffersByName()">
                <span>Name</span>
                <i class="{{sortCriteria.name}}"></i>
            </li>
            <li (click)="filterOffersByDate()">
                <span>Date</span>
                <i class="{{sortCriteria.date}}"></i>
            </li>
        </ul>
    </aside>
    <section class="products">
        <div class="product-list">
            <div class="product-wrapper" *ngFor="let offer of currentOffers">
                <div class="image-wrapper">
                    <img src="{{offer.imageUrl}}" alt="image.png">
                </div>
                <h4>{{offer.name}}</h4>
                <div class="price-button-wrapper">
                    <p>
                        <span *ngIf="offer.promotion" class="old-value">{{offer.price}}$<i
                                class="fas fa-angle-double-right"></i></span>
                        <span [class]="offer.promotion? 'new-value' : ''">{{offer.promotion? (offer.price - ((offer.price
                            /100) * offer.promotionPercentage)).toFixed(2) : offer.price.toFixed(2)}}$</span>
                    </p>
                    <button type="button" routerLink='/offers/details/{{offer.objectId}}'>Details</button>
                </div>
            </div>
        </div>
    </section>
</div>