div.form-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: calc(100vh - 305px);

    @media (max-height: 1024px) {
        height: max-content;
    }

    form {
        font-size: 20px;
        padding: 20px;
        border: 3px ridge #2161ab;
        margin: auto;
        width: 100%;
        max-width: 1024px;
        border-radius: 20px;
        height: max-content;

        .form-information {
            font-size: 14px;
            text-align: center;
        }

        div {
            margin: 20px 0;
            font-size: 20px;

            .check-error {
                color: red;
                margin-top: 5px;
                font-style: italic;
                font-size: 16px;

                @media (max-width: 420px) {
                    font-size: 12px;
                }
            }
        }

        label {
            display: inline-block;
            width: 110px;
            text-align: left;
            margin-right: 10px;
        }

        .description-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .check-error {
                flex-basis: 100%;
            }
        }

        input,
        textarea {
            width: 99%;
            font-size: 22px;
            border-radius: 5px;

            &.input-error {
                border: 2px solid red;
            }
        }

        input {
            height: 35px;
        }

        button {
            width: 50%;
            color: white;
            padding: 5px;
            border: none;
            background: #5494de;
            position: relative;
            left: 25%;
            font-size: 18px;
            border-radius: 10px;
            transition: all 0.5s ease-in-out;

            &:hover {
                cursor: pointer;
                box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
                background: #1a4d88;
                font-size: 20px;
            }
        }

        select {
            height: 35px;
            border-radius: 5px;
            font-size: 20px;
            width: 100%;

            &.input-error {
                border: 2px solid red;
            }
        }
    }
}
