<div class="form-wrapper">
    <form #f="ngForm" (ngSubmit)="formHandler(f.value)">
        <p class="form-information">To submit a new item offer, please fill all of the following fields.</p>
        <div class="name-wrapper">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" #name="ngModel" ngModel="{{currentElement.name}}" required [class]="name.touched && !!name.errors? 'input-error' : ''">
            <p *ngIf="name.touched && !!name.errors" class="check-error">Please input the name of the product.</p>
        </div>
        <div class="price-wrapper">
            <label for="price">Price:</label>
            <input #price="ngModel" type="number" name="price" id="price" ngModel="{{currentElement.price}}" required [class]="price.touched && price.errors? 'input-error' : ''">
            <p *ngIf="price.touched && price.errors" class="check-error">Please input a valid price number.</p>
        </div>
        <div class="description-wrapper">
            <label for="description">Description:</label>
            <textarea name="description" id="description" cols="30" rows="10" #description="ngModel"
                ngModel="{{currentElement.description}}" required required [class]="description.touched && description.errors? 'input-error' : ''"></textarea>
            <p *ngIf="description.touched && !!description.errors" class="check-error">Please type some description for the product.</p>
        </div>
        <div class="image-wrapper">
            <label for="imageUrl">Image URL:</label>
            <input type="url" name="imageUrl" id="imageUrl" #imageUrl="ngModel" ngModel="{{currentElement.imageUrl}}" required required [class]="imageUrl.touched && imageUrl.errors? 'input-error' : ''">
            <p *ngIf="imageUrl.touched && !!imageUrl.errors" class="check-error">Please paste a valid product Image URL.</p>
        </div>
        <div class="category-wrapper">
            <label for="category">Category:</label>
            <select name="category" id="category" #category="ngModel" ngModel="{{currentElement.category}}" required required [class]="category.touched && category.errors? 'input-error' : ''">
                <option value="cpu">CPU</option>
                <option value="gpu">Graphics Card</option>
                <option value="ram">RAM</option>
                <option value="hdd">Hard Drive</option>
                <option value="cooling">Cooling</option>
                <option value="ps">Power Supply</option>
            </select>
            <p *ngIf="category.touched && !!category.errors" class="check-error">Please choose the category of the product.</p>
        </div>
        <button>{{id? "Update" : "Create"}}</button>
    </form>
</div>