<div class="form-wrapper">
    <form #f="ngForm" (ngSubmit)="formHandler(f.value)">
        <div class="name-wrapper">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" #name="ngModel" ngModel="{{currentElement.name}}">
        </div>
        <div class="description-wrapper">
            <label for="description">Description:</label>
            <textarea name="description" id="description" cols="30" rows="10" #description="ngModel"
                ngModel="{{currentElement.description}}"></textarea>
        </div>
        <div class="category-wrapper">
            <label for="category">Category:</label>
            <select name="category" id="category" #category="ngModel" ngModel="{{currentElement.category}}">
                <option value="cpu">CPU</option>
                <option value="gpu">Graphics Card</option>
                <option value="ram">RAM</option>
                <option value="hdd">Hard Drive</option>
                <option value="cooling">Cooling</option>
                <option value="ps">Power Supply</option>
            </select>
        </div>
        <div class="image-wrapper">
            <label for="imageUrl">Image URL:</label>
            <input type="text" name="imageUrl" id="imageUrl" #imageUrl="ngModel" ngModel="{{currentElement.imageUrl}}">
        </div>
        <div class="price-wrapper">
            <label for="price">Price:</label>
            <input #price="ngModel" type="number" name="price" id="price" ngModel="{{currentElement.price}}">
        </div>
        <button>{{id? "Update" : "Create"}}</button>
    </form>
</div>