div.form-wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
    height: calc(100vh - 295px);

    form {
        font-size: 20px;
        padding: 20px;
        border: 3px ridge #2161ab;
        margin: auto;
        width: 50%;
        border-radius: 20px;
        height: max-content;

        div {
            margin: 20px 0;
            font-size: 20px;
        }

        label {
            display: inline-block;
            width: 9%;
            text-align: right;
            margin-right: 10px;
        }

        .description-wrapper {
            display: flex;
            align-items: center;
        }

        input,
        textarea {
            width: 89%;
            font-size: 22px;
            border-radius: 5px;
            padding: 5px;
        }

        input {
            height: 35px;
        }

        button {
            width: 50%;
            color: white;
            padding: 5px;
            border: none;
            background: #5494de;
            position: relative;
            left: 25%;
            font-size: 20px;

            &:hover {
                cursor: pointer;
            }
        }

        select {
            height: 35px;
            border-radius: 5px;
            font-size: 20px;
        }
    }
}
