.my-offers {
    height: calc(100vh - 305px);

    h2 {
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        padding: 20px 0px 10px 0px;
    }

    ul {
        list-style: none;
        overflow: auto;
        height: calc(100vh - 380px);

        li {
            display: flex;
            align-items: center;
            border-top: 3px ridge black;
            border-bottom: 3px ridge black;
            margin: 10px 0;
            padding: 20px;
            height: 250px;

            .image-wrapper {
                height: 100%;
                margin-right: 20px;

                img {
                    height: 100%;
                    width: 450px;
                    object-fit: contain;
                }
            }

            .info-wrapper {
                display: flex;
                flex-wrap: wrap;
                height: 100%;
                align-content: space-around;
                flex-basis: 75%;
                margin-right: 20px;

                article {
                    flex-basis: 100%;
                    max-height: 100%;

                    h4 {
                        font-size: 24px;
                        margin-bottom: 20px;
                        text-decoration: underline;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    p {
                        font-size: 20px;
                        overflow: auto;
                        max-height: 150px;
                    }
                }

                .bought,
                .liked {
                    margin-right: 50px;
                    font-size: 20px;
                }

                .bought {
                    color: red;
                }

                .liked {
                    color: green;
                }
            }

            .price {
                font-size: 50px;
            }
        }

        .no-offers-wrapper {
            justify-content: center;
        }
    }
}
