@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;

    header {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;

        .top {
            display: flex;
            justify-content: space-around;
            margin-bottom: 5px;
            height: 200px;

            img {
                position: absolute;
                height: 200px;
                left: 0;
                width: 100%;
                z-index: -1;
            }

            app-user-panel {
                width: 100%;
            }
        }
    }

    main {
        height: max-content;
        margin: 20px 0;
    }
}
