@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Oxanium&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Oxanium", cursive, "Ebrima", "Calibri", "Arial";
}

body {
    height: 100vh;

    header {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;

        @media (max-width: 750px) {
            position: sticky;
            top: 0;
        }

        .top {
            display: flex;
            justify-content: space-around;
            height: 200px;

            @media (max-height: 1024px) {
                height: 120px;
            }

            @media (max-width: 750px) {
                height: 50px;
                background: #5495df;
            }

            img {
                position: absolute;
                height: 200px;
                left: 0;
                width: 100%;
                z-index: -1;

                @media (max-height: 1024px) {
                    height: 120px;
                }

                @media (max-width: 750px) {
                    display: none;
                }
            }

            #site-logo {
                display: none;

                @media (max-width: 750px) {
                    display: block;
                    width: 50px;
                    height: 50px;
                    z-index: 1;
                }
            }

            app-user-panel {
                width: 100%;
            }
        }
    }

    main {
        height: max-content;
    }

    router-outlet {
        display: block;
        height: 0px;
    }
}
